
        body{
            margin:0;
            background-color: rgb(248,241,231);
            height: 200vh;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        #nav{
            width: 100%;
            position: fixed;
            top: 0;
            height:80px;
            background-color: rgb(248,241,231);
            box-shadow: 0px 0px 3px black;
            z-index: 100;
        }
        .linknav{
            color: #502314;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            
            margin-right: 8%;
        }
        .linknav:hover{
            background-color: rgb(255, 210, 29);
        }
        #links{
            font-size: 1rem;
            width: 15em;
            position: absolute;
            left: 1.5%;
            top:38%;
        }
        .cart{
            filter: invert(1);
            position: relative;
            width: 20%;
            margin-right: 10px;
        }
        .cartparent{
            /* login here button kanan atas */
            color: white;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            font-size: 14px;

            width: 140px;
            height: 40px;
            position: absolute;
            right: 5%;
            top: 25%;

            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: rgb(216,48,44);
            
        }
        .cartparent:hover{
            background-color: rgb(134, 23, 21);
        }
        #logo{
            position: relative;
            display: table;
            margin: auto;
            width: 80px;
            height: 80px;
        }
        #vidcon{
            width: 100%;
            height: 100%;
            margin-top: 80px;
        }
        #vidcon iframe{
            position: relative;
            margin-top: -10vh;
            width: 250vh;
            height: 150vh;
            opacity: 0.6;
            pointer-events: none;
        }
        #titlecon{
            width: 100vw;
            height: 100vh;
            margin-top:-150vh;
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
        }
        #title {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            font-size: 9rem;
            position: relative;
            color: white;
            text-shadow: 0em 0.05em 0.01em rgb(255, 210, 29);
            -webkit-text-stroke-width: 0.15rem;
            text-align: center;
            transition: all 0.5s;
        }
        #title:hover{
            color: rgb(255, 252, 180);
            text-shadow: 0em 0.0em 0.1em rgb(255, 210, 29);
        }
        #buynow{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            font-size: 3rem;
            position: relative;
            text-decoration: none;
            color: white;
            background-color: rgb(216,48,44);
            padding: 1rem;
            border-radius: 6rem;
            box-shadow: 0em 0.1em 0.01em rgb(255, 210, 29);
            transition: all 0.5s;
        }
        #buynow:hover{
            color: rgb(216,48,44);
            background-color: white;
            box-shadow: 0em 0.1em 0.1em rgb(255, 210, 29);
        }
